---
- name: Add Docker repository for Debian lilke distros
  include_tasks: "repo-debian-lilke.yaml"
  when: is_debian_lilke

- name: Add Docker repository for centos lilke distros
  include_tasks: "repo-centos-lilke.yaml"
  when: is_centos_lilke

- name: Install package Iptables
  package:
    name: iptables
    state: latest

- name: Ensure Iptable mode selected is Legacy
  alternatives:
    name: iptables
    path: /usr/sbin/iptables-legacy
  when: ansible_distribution|lower == 'debian'

- name: Install Docker for Debian lilke distros
  include_tasks: "docker-debian-lilke.yaml"
  when: is_debian_lilke

- name: Install Docker for Centos lilke distros
  include_tasks: "docker-centos-lilke.yaml"
  when: is_centos_lilke

- name: Start Runtime
  systemd:
    state: started
    name: docker

- name: Make sure /etc/docker existe
  file:
    path: /etc/docker
    state: directory

- name: Configure /etc/docker/daemon.json
  copy:
    dest: /etc/docker/daemon.json
    src: daemon.json
  notify:
    - Reload docker

- name: Make sure docker is running
  systemd:
    state: started
    name: docker
    enabled: yes
