[Unit]
Description=Kubernetes Kube Proxy {{ ike_base_components.kubernetes.release }}
Documentation=https://github.com/kubernetes/kubernetes

[Service]
{% if ansible_hostname in groups['masters'] %}
ExecStart=/usr/local/bin/kubernetes/server/bin/kube-proxy \
{% else %}
ExecStart=/usr/local/bin/kubernetes/node/bin/kube-proxy \
{% endif %}
{% if ike_network.kube_proxy.mode in ['userspace','iptables','ipvs'] %}
  --proxy-mode={{ ike_network.kube_proxy.mode }} \
{% endif %}
{% if ike_network.kube_proxy.mode == 'ipvs' %}
{% if ike_network.kube_proxy.algorithm in ['rr','lc','dh','sh','sed','nq'] %}
  --ipvs-scheduler={{ ike_network.kube_proxy.algorithm }} \
{% endif %}
{% endif %}
  --config=/etc/kubernetes/manifests/kube-proxy-config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
